@media only screen and (max-width: 750px) {
	.opp-card {
		flex-flow: column;
		padding: 2px;
	}

	.opp-main {
		width: 100%;
	}

	#volunteer {
	    margin: 10px 10px;
	}

	.inputGroup {
		margin: 20px 0px;
	}
}
